<div class="shareUrlComponent">
  <input
    class="mdl-textfield__input input-url"
    id='url'
    type='text'
    value='{{@url}}'
  />
  <CopyButton
    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
    @target='#url'
  >
    Copy URL for apponent
  </CopyButton>
</div>