{{page-title "Tic Tac Toe"}}

<MdlLayout @title="Tic Tac Toe">

  <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" {{on "click" this.createGame}}>Create new Game</button>

  {{outlet}}
</MdlLayout>