{{page-title "Tic Tac Toe"}}

<MdlLayout @title="Tic Tac Toe">
  <button type="button" {{on "click" this.createGame}}>Click Me</button>

  <p class="margin-top-30">This content is centralized using MDL's grid system.</p>
  {{outlet}}
</MdlLayout>